.navbar{
    background-color:black;
    width:80%;
    margin: 0 auto;
    align-content: space-between
}
.navbar-expand{
   justify-content: space-between !important;
 
}
.container-fluid{
    width:82%;
    
}
/* nav{
    align-content: space-between;
    color:lime;
    font-size:18px;
    
} */

.nav-item{
    color:hotpink !important;
}
.nav-link{
    background-color:none;
    text-decoration: none;
    color: white;
}

a{
    color:hotpink;
}


.dropdown-menu{
    flex-direction: column;
    color:white !important;
}


.dropdown-menu{
    background-color:black;
}


.dropdown-item{
    color:lime !important;
}

@media only screen and (max-width: 600px) {
   .navbar{
       width:100%;
   }
   
  }